@import url(font-size.css);
:root{
    --color-main: #00dffa;
	--color-background: #06c2cc;
	--color-secondary: #3ffe11;
	--color-grey: #e0e5ec;
	--color-footer: #313131;
	--color-copyright: #1f1f1f;
	--color-contacto: #555555;
	--color-pink: #fc00ff;
	--title-footer: #ccc;
	--text-footer: #8a8a8a;
	--btn-whatsapp: #4cca5a;
	--font-texto: "Ubuntu", sans-serif;
	
}

html{
	box-sizing: border-box;
	font-size: 16px;
	font-family: var(--font-texto);
	color: var(--color-footer);
}

*,
::after,
::before{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body{
	/* position: relative; */
	margin: 0 auto;
	width: 100vw;
	/* max-width: 1200px; */
	background: white;
	text-rendering: optimizeSpeed;
	overflow-x: hidden;
	scroll-behavior: smooth;
	-webkit-text-size-adjust: 100%;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
}
a{
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

li{
	list-style: none;
}
p{
	margin-bottom: 0;
	line-height: 1.3rem;
}

.titulo__enlaces{
	margin: 30px 0;
	text-align: center;

}
.titulo__enlaces h2{
	color: var(--color-background);
}
.titulo__grid{
	grid-column: 1/6;
	grid-row: 4/5;
}
.grid-1{
	grid-column: 1/5;
	grid-row: 5/6;
}
.grid-2{
	grid-column: 1/5;
	grid-row: 6/7;
}
.grid-3{
	grid-column: 1/5;
	grid-row: 7/8;
}
.grid-4{
	grid-column: 1/5;
	grid-row: 8/9;
}
.grid-servicios{
	grid-column: 1/5;
	grid-row: 5/10;
}
.grid-contacto{
	grid-column: 1/6;
	grid-row: 5/9;
}




.wrapper{
	margin: 0 auto;
	max-width: 1200px;
	height: inherit;

}

/*****  B O T O N E S *****/
.btn-whatsapp{
	position: fixed;
	right: 5px;
	bottom: 5px;
	z-index: 999;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	text-align: center;
	background-color: transparent !important;
}
.fa-whatsapp-square{
	font-size: 3.6rem;
	color: var(--color-secondary);
}
.btn-footer, .btn-footer:visited{
	border: none;
	color: var(--text-footer);
	background: transparent;
	
}
.btn-footer:hover,
.footer .copyright__footer a:hover{
	color: var(--color-secondary);
}

.fa-facebook-f, .fa-facebook-f:visited,
.fa-instagram, .fa-instagram:visited,
.fa-tiktok, .fa-tiktok:visited{
	color: var(--color-background);
}
.fa-facebook-f:hover,
.fa-instagram:hover,
.fa-tiktok:hover{
	color: var(--color-secondary);
}


/***** M E N Ú    D E    N A V E G A C I Ó N ******/

.navbar{
	position: sticky;
	top:0;
	margin: 0 auto;
	width: 100%;
	height: 80px;
	max-width: 1200px;
	z-index: 999;
	border-radius: 5px;
}
.navbar .navbar-brand span{
	font-size: 1.5rem;
	font-weight: 600;
}
.menu__dental, .dropdown-item, .navbar-light .navbar-nav .nav-link:visited{
	color: var(--color-background);
}
.menu__care, .dropdown-item:hover{
	color: var(--color-secondary);
}
.navbar-light .navbar-nav .nav-link{
	font-size: 1rem;
	font-weight: 500;
	color: var(--color-background);
}
.navbar-light .navbar-nav .nav-link.active{
	font-size: 1rem;
	font-weight: 500;
	color: var(--color-secondary);
}
.navbar-light .navbar-nav .nav-link:hover{
	color: var(--color-secondary);
}
.wrapper__menu__rrss{
	display: none;
}
.navbar-nav .dropdown-menu{
	max-width: 60%;
}

/*****   F I N   M E N Ú    D E    N A V E G A C I Ó N ******/



/**********  H  E  A  D  E  R  **********/
.header{
	position: relative;
	top: 0;
	margin: 0 auto ;
	border-radius: 15px;
	padding: 0 5px;
	width: 100%;
	height: 75vh;
	max-height: 700px;
	max-width: 1200px;
	color: var(--color-footer);
	overflow: hidden;
}
.color__index__header{
	background: #84e48a;

	background: -webkit-linear-gradient(to right,rgba(132, 228, 138, 0.9),
	rgba(110,198,214,.8), rgba(255,0,255,.7));

	background: linear-gradient(to right,rgba(132, 228, 138, 0.9),
	rgba(110,198,214,.8), rgba(255,0,255,.7));
}.color__index__enlaces{
	background: rgba(27, 30, 31, .5);
}
.header .card{
	z-index: 980;
	border: none;
	height: inherit;
	max-height: 700px;
	background-image: url(../images/fondo-header.png);
	background-position: right bottom;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: transparent;
}
.header .card-body p{
	font-weight: 600;
	color: white;
}
.header .card-body h3{
	color: white;
}
.header .card .card-body{
	justify-content: center;
}


.header__enlaces{
	height: calc(100vh - 80px);
	color: white;
}
.wrapper_img{
	margin: 0 auto;
	max-width: 1200px;
	background: rgba(27, 30, 31, .9);
}
.header__enlaces img{
	height: inherit;
	width: 100% !important;
}

.nosotros__header{
	background: rgba(27, 30, 31, .9);
	
	background: -webkit-linear-gradient(to bottom,rgba(27, 30, 31, 0.5), rgba(27,31,32,.5) ), url(../images/nosotros.jpg);

	background: linear-gradient(to bottom,rgba(27, 30, 31, 0.5),
	rgba(27,31,32,.5)), url(../images/nosotros.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}



/********* ESTADISTICAS **********/
.estadisticas{
	position: relative;
	top: -15vh;
	z-index: 990;
	border: 2px solid var(--title-footer);
	border-radius: 8px;
	max-width: 800px;
	background-color: white;
	-webkit-box-shadow: 8px 11px 16px 0px rgba(165,177,198,0.8);
	-moz-box-shadow: 8px 11px 16px 0px rgba(165,177,198,0.8);
	box-shadow: 8px 11px 16px 0px rgba(165,177,198,0.8);
}
.estadisticas div h4{
	color: #fc00ff;
}
.estadisticas div:nth-child(2) h4{
	color: var(--color-background);
}
.estadisticas div:nth-child(3) h4{
	color: var(--color-secondary);
}
.estadisticas div p{
	margin-left: 15px;
}




/********** M A I N --- "Contenido principal de promociones" *********/
.promociones{
	padding: 100px 15px 0;
	background: var(--color-background);
	background: -webkit-linear-gradient(to right, rgba(6,194,204,.6), rgba(0,173,70, .6)) , url(../images/fondo-promocion.jpg);
	background: linear-gradient(to right, rgba(6,194,204,.6), rgba(0,173,70, .6)) , url(../images/fondo-promocion.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 50%;
}
.promociones h2{
	font-weight: 600;
}
.promociones .card{
	-webkit-box-shadow: 8px 11px 16px 0px rgba(165,177,198,0.8);
	-moz-box-shadow: 8px 11px 16px 0px rgba(165,177,198,0.8);
	box-shadow: 8px 11px 16px 0px rgba(165,177,198,0.8);
}
.boton{
	border: 2px solid var(--color-background);
	font-weight: 500;
	color: white;
	background-color:  var(--color-background);
}
.boton:hover{
	border: 2px solid var(--color-background);
	font-weight: 500;
	color: var(--color-background);
	background-color:  white;
}




/* S E C T I O N -   --- "Calidad e Innovación" */

.calidad  h2{
	color: var(--color-background);
	font-weight: 600;
}
.calidad .caption{
	background-color: var(--color-copyright);
}
.calidad .caption h3{
	font-size: 1.1em;
	font-weight: 600;
	color: var(--color-secondary);
}
.calidad .caption > p{
	font-size: .5em;
	color: white;
}
.calidad .caption h3 + p{
	margin-top: .2em;
	margin-bottom: 1em;
	font-size: .8em;
	font-weight: 300;
	color: var(--color-background);
}
.calidad .caption hr{
	width: 100%;
    height: 1px;
    background-color: #ccc;
    border: none;
}
.calidad .caption a{
	border-color: #2db60b;
	font-size: .5em;
	font-weight: 600;
	color: var(--color-copyright);
	background-color: #2db60b;
}
.calidad .caption a:hover{
	border-color: #2db60b;
	font-weight: 600;
	color: #2db60b;
	background-color: transparent;
}
.fa-heartbeat{
	color: var(--color-background);
}



/*********  S E C T I O N S **********/

.section{
	padding: 25px 15px;
	width: 100%;
	height: auto;
}





/* S E C T I O N - 2 --- "Convenios" */

.convenios{
	margin: 0 auto;
	width: 100vw;
	background-color: var(--color-copyright);
	
}
.convenios h2{
	color: white;
}


/* S E C T I O N - 3 --- "Testimonios" */

.clientes{
	padding: 2rem 0;
	width: 100vw;
	background: -webkit-linear-gradient(to top, rgba(6,194,204,.25), rgba(6, 38, 63, .75)) , url(../images/fondo-testimonio.jpg);
	background: linear-gradient(to top, rgba(6,194,204,.25), rgba(6, 38, 63, .75)) , url(../images/fondo-testimonio.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.clientes h2{
	color: white;
	font-weight: 600;
}
.clientes .fa-thumbs-up{
	margin-left: 1em;
	color: var(--color-background);
}
.clientes .card{
	border: none;
	background: transparent;
}
.card__cliente{
	padding: .8em;
	border: 1px solid var(--color-footer);
	border-radius: 8px;
	background-color: white;
}
.card__cliente .name__cliente{
	margin-left: 1em;
	font-size: .8em;
	font-weight: 700;
}
.card__cliente .card-title{
	margin-bottom: .6em;
}
.card__cliente .card-text{
	margin-top: .8em;
	padding: 0 .6em;
	font-size: .5em;
}
.foto__cliente{
	border-radius: 5px;
	width: 60px;
	height: 60px;
}
.card__cliente .fa-facebook-f{
	color: var(--color-background);
	font-size: .6em;
}




/* S E C T I O N - 4--- "Medios de Pago" */

.pagos{
	max-width: 100%;
	background-color: var(--color-background);
}
.pagos .wrapper{
	background-color: white;

}
/*      F I N       - "Medios de Pago" */





/******** N O S O T R O S ******/

#nosotros{
	margin-top: 50px;
	padding-top: 90px;

}



/* S E R V I C I O S */
.servicios__header{
	background: rgba(27, 30, 31, .9);
	background: -webkit-linear-gradient(to bottom,rgba(27, 30, 31, 0.5), rgba(27,31,32,.5) ), url(../images/servicios.jpg);

	background: linear-gradient(to bottom,rgba(27, 30, 31, 0.5),
	rgba(27,31,32,.5)), url(../images/servicios.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}



/* odontologia-general */
.odontologia__header{
	background: rgba(27, 30, 31, .9);
	background: -webkit-linear-gradient(to bottom,rgba(27, 30, 31, 0.5), rgba(27,31,32,.5) ), url(../images/odontologia-general.jpg);

	background: linear-gradient(to bottom,rgba(27, 30, 31, 0.5),
	rgba(27,31,32,.5)), url(../images/odontologia-general.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

/*endodoncia */
.endodoncia__header{
	background: rgba(27, 30, 31, .9);
	background: -webkit-linear-gradient(to bottom,rgba(27, 30, 31, 0.5), rgba(27,31,32,.5) ), url(../images/endodoncia.jpg);

	background: linear-gradient(to bottom,rgba(27, 30, 31, 0.5),
	rgba(27,31,32,.5)), url(../images/endodoncia.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

/*estetica-dental */
.estetica__header{
	background: rgba(27, 30, 31, .9);
	background: -webkit-linear-gradient(to bottom,rgba(27, 30, 31, 0.5), rgba(27,31,32,.5) ), url(../images/estetica-dental.jpg);

	background: linear-gradient(to bottom,rgba(27, 30, 31, 0.5),
	rgba(27,31,32,.5)), url(../images/estetica-dental.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}


/*odontopediatria */
.odontopediatria__header{
	background: rgba(27, 30, 31, .9);
	background: -webkit-linear-gradient(to bottom,rgba(27, 30, 31, 0.5), rgba(27,31,32,.5) ), url(../images/odontopediatria.jpg);

	background: linear-gradient(to bottom,rgba(27, 30, 31, 0.5),
	rgba(27,31,32,.5)), url(../images/odontopediatria.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}


/*Ortodoncia */
.ortodoncia__header{
	background: rgba(27, 30, 31, .9);
	background: -webkit-linear-gradient(to bottom,rgba(27, 30, 31, 0.5), rgba(27,31,32,.5) ), url(../images/ortodoncia.jpg);

	background: linear-gradient(to bottom,rgba(27, 30, 31, 0.5),
	rgba(27,31,32,.5)), url(../images/ortodoncia.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

/*periodoncia */
.periodoncia__header{
	background: rgba(27, 30, 31, .9);
	background: -webkit-linear-gradient(to bottom,rgba(27, 30, 31, 0.5), rgba(27,31,32,.5) ), url(../images/periodoncia.jpg);

	background: linear-gradient(to bottom,rgba(27, 30, 31, 0.5),
	rgba(27,31,32,.5)), url(../images/periodoncia.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}


/*contacto */
.contacto__header{
	background: rgba(27, 30, 31, .9);
	background: -webkit-linear-gradient(to bottom,rgba(27, 30, 31, 0.5), rgba(27,31,32,.5) ), url(../images/fondo-contacto.jpg);

	background: linear-gradient(to bottom,rgba(27, 30, 31, 0.5),
	rgba(27,31,32,.5)), url(../images/fondo-contacto.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}















/********** F O O T E R  ***********/
.footer{
	background-color: var(--color-footer);
}
.footer .rrss_footer h3,
.logo___footer h2{
	color: var(--title-footer);
}
.footer .copyright__footer p,
.logo___footer p{
	color: var(--text-footer);
}
.footer .copyright__footer a,
.footer .copyright__footer a:visited {
	color: var(--color-background);
	font-size: 1.08em;
}

.enlace__footer, .enlace__footer:visited{
	color: var(--title-footer);
}
.enlace__footer:hover{
	color: var(--color-background);
}
.subenlace__footer, .subenlace__footer:visited{
	color: var(--text-footer);
}
.subenlace__footer:hover{
	color: var(--color-secondary);
}
.background__copyright__footer{
	background-color: var(--color-copyright);
}



/********** F I N    F O O T E R  ***********/




/********** C O N T A C T O  ***********/
.wrapper__formulario{
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	height: auto;
	display: grid;
	grid-template-columns: repeat(4,25%);
	grid-template-rows: repeat(2, minmax(min-content,max-content));
	grid-template-areas: 
		"titulo      titulo      titulo      titulo"
		"formulario  formulario  ubicacion   ubicacion";
	justify-items: center;
}
.wrapper__formulario .titulo__enlaces{
	grid-area: titulo;
}
.wrapper__formulario form{
	padding: 20px 10px;
	width: 100%;
	max-width: 700px;
	grid-area: formulario;
}
.wrapper__formulario form div p{
	color: var(--color-footer);
	font-weight: 500;
}
.wrapper__formulario form > p{
	margin-bottom: 20px;
	font-size: 1.15rem;
	color: var(--color-contacto);
}
.wrapper__formulario form div{
	margin-bottom: 20px;
}
.wrapper__formulario form div:nth-child(4),
.wrapper__formulario form div:nth-child(5){
	margin: 0 auto;
	width: 48%;
	display: inline-block;
}
.wrapper__formulario form div:nth-child(4){
	margin-right: 3%;
}
.wrapper__radio{
	width: 100%;
	height: auto;
	grid-area: consulta;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.wrapper__radio > p{
	width: 100%;
	margin-bottom: 10px;
}
.wrapper__radio input{
	margin-right: 5px;
}
.wrapper__radio label {
	color: var(--color-contacto);
}
.wrapper__formulario form .form-control, select{
	padding: 10px 15px;
	margin: 10px auto;
	border: 2px solid var(--color-grey);
	width: 100%;
	height: 45px;
	color: var(--color-contacto);
	font-size: 1rem;	
}
.form-control:focus, select:focus{
	outline: none;
	border-color: var(--color-background) !important;
	box-shadow: none;
}
.wrapper__formulario .btn-form{
	margin: 0 auto;
	display: block;
	cursor: pointer;
}
.wrapper__formulario form textarea{
	min-height: 230px;
}


/* U B I C A C I Ó N */
.wrapper__formulario .ubicacion{
	padding: 20px 10px;
	width: 100%;
	grid-area: ubicacion;
}
.wrapper__formulario .ubicacion h3{
	grid-area: subtitulo;
}
.ubicacion h3, .ubicacion h4, .wrapper__datos__direccion{
	margin-bottom: 30px;
}
.wrapper__datos__direccion{
	display: flex;
	justify-content: space-between ;
	grid-area: contacto;
}
.wrapper__datos__direccion ul{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.wrapper__datos__direccion div{
	width: 300px;
	height: auto;
}
.fa-map-marker-alt, .fa-envelope, .fa-phone-alt, .fa-whatsapp {
	margin-right: 15px;
	color: var(--color-background);
	font-size: 1.2em;
	font-weight: 700;
}
.ubicacion__direccion{
	grid-area: direccion;
}
.ubicacion__mapa iframe{
	border: 0;
	width: 100%;
	min-height: 320px;
}







/**********  M  E  D  I  A     Q  U  E  R  I  E  S  **********/

@media screen and (max-width: 767px) {
	.navbar-nav .dropdown-menu{
		position: absolute;
		left: 80px;
	}

	header .card{
		background-size: auto;
	}
	header .card .card-body{
		justify-content: start;
	}
	.nosotros__header{
		max-height: 700px;
	}
	#nosotros{
		margin-top: 20px;
	}

}


@media screen and (max-width: 991px){
	.promociones{
		min-height: 100vh;
	}
	.calidad{
		margin-top: 0;
	}
}

@media screen and (min-width: 992px) and (max-width: 1023px){
	.promociones{
		max-height: 80vh;
	}
	.calidad{
		margin-top: 200px;
	}
}
@media screen and (min-width: 1024px){
	.promociones{
		max-height: 400px;
	}
	.calidad{
		margin-top: 300px;
	}
}
@media screen and (min-width: 1200px){
	.calidad{
		margin-top: 380px;
	}
}


/********** F I N       M  E  D  I  A     Q  U  E  R  I  E  S  **********/






/* SMARTPHONE */
@media (max-width: 480px){


	/* C O N T A C T O */
	.wrapper__formulario{
	grid-template-columns: repeat(2,50%);
	grid-template-rows: repeat(3, minmax(min-content,max-content));
	grid-template-areas: 
		"titulo      titulo     "
		"formulario  formulario "
		"ubicacion   ubicacion";
	grid-column: 1/2;
	grid-row: 3/9;
	}
	.wrapper__formulario form div:nth-child(4),
	.wrapper__formulario form div:nth-child(5){
	margin: 0 auto;
	width: 100%;
	display: block;
	}
	.wrapper__datos__direccion{
		flex-direction: column;
	}
	.ubicacion__datos, .ubicacion__direccion{
		padding-left: 30px;
	}


} 

/* TABLET */
@media (min-width: 481px) and (max-width: 768px) {
		/* C O N T A C T O */
	.wrapper__formulario{
		grid-template-columns: repeat(2,50%);
		grid-template-rows: repeat(3, minmax(min-content,max-content));
		grid-template-areas: 
			"titulo      titulo     "
			"formulario  formulario "
			"ubicacion   ubicacion";
		grid-column: 1/2;
		grid-row: 4/9;
	}
	.ubicacion__datos{
		padding-left: 30px;
	}

